#!/usr/bin/make -f

TMP_DIR = tmp-trinidad

override_dh_auto_clean:
	rm -rf $(TMP_DIR)
	debclean

override_dh_auto_build:
	mkdir -p $(TMP_DIR)
	cp -r bin Gemfile lib LICENSE trinidad.gemspec spec $(TMP_DIR)
	rm $(TMP_DIR)/lib/trinidad/jars.rb

	dh_auto_build

override_dh_auto_install:
	dh_auto_install

	# There is no way to turn off shebang rewriting in dh_ruby
	# (XS-Ruby-Versions fields in control file), but we want to keep
	# "jruby" there, so simply copying exec file again
	cp $(TMP_DIR)/bin/trinidad debian/trinidad/usr/bin

%:
	dh $@ --buildsystem=ruby --with ruby
